.CodeMirror {
    height: auto;
}

#QR, .fullscreenbutton {
    float: right;
}

.CodeMirror-selected {
    background: blue;
     
}

iframe {
    display: none;
}

.iframe-fullscreen {
    width: 100%;
    height: 100%;
}

#frameBody {
    overflow: hidden !important;
}

.active iframe {
    display: block;
    width: 100%;
    width: -moz-available;      /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.tab-content {}

.list-group {
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.addImageButton {
  float: right;
}

.cleancode {
  margin: 5px;
}

#qrcode img {
    margin: 0 auto;
}
